@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --maincolor : #87BCDE;
    --secondcolor : #81B4D4;
    --thirdcolor : #86A5C4;
    --mainfont : 'Kaushan Script', cursive;;
    --titlefont : 'Bangers', cursive;
    --textfont : 'Acme', sans-serif;
    --linkfont : 'Bree Serif', serif;
    --shadow : #139D9B;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #212529;
    --backrgba: rgba(52,58,64,.5);
}
/* ----------------- Global styling ------------------ */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.text-center{
    text-align: center;
}
/* --------------------- header ------------------- */

.nav{
    display: flex;
    justify-content: center;
}

.nav ul{
    display: flex;
    margin: 0 auto;
    transition: all 3s ease-in-out !important;
}
.header{
    height: 100vh;
    width: 100vw;
    background: var(--yellow)
}
.head{
    padding-top: 4rem;
    transition: all 1s ease-in-out;
}
h1.blog-name{
    font-family: var(--mainfont);
    transition: all 1s ease-in-out;
}
h1.blog-name a{
    color: var(--black);
    font-size: 4rem;
    text-shadow: -1px 1px 3px var(--black);
    transition: all .5s ease-in-out;
}
h1.blog-name a:hover{
    color: var(--white);
}
p{
    color: var(--black);
    font-family: var(--textfont);
    font-size: 1.2rem;
}
.nav-item{
    margin: .3rem;
}
.nav-link{
    font-family: var(--titlefont);
    color: var(--black);
    font-size: 1.3rem;
    padding: .2rem .5rem;
    border-radius: 20%;
    transition: all .3s ease-in-out;
}
.nav-link:hover{
    color: var(--white);
    transform: scale(1.1, 1);
    transform: translateY(-8%);
    text-shadow: -1px 2px 5px var(--black);
}

.menu-toglle{
    display: none;
}

/* ---------------- section about ------------------- */




















@media (max-width:700px){
    .menu-toglle{
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        border-radius: 20%;
        text-align: center;
        color: #fff;
        background: rgba(52,58,64,.5);
        line-height: 40px;
        cursor: pointer;
        z-index: 999;
        transition: all .5s ease-in-out;
    }
    .menu-toglle:hover{
        background: var(--gray-dark);
    }
    h1.blog-name a{
        font-size: 3rem;
    }

    .nav{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 55;
        background: var(--white);
        opacity: .9;
    }

    .nav ul {
        display: block;
        padding: 5rem 0;
    }
    .nav-link{
        letter-spacing: .3rem;
        text-align: center;

    }
    .nav-link:hover{
        color: var(--primary);
        text-shadow: 0px 2px 1px var(--shadow);
    }

    .about-section{
        display: block;
    }

}